/* --- Product Details Card --- */
.product-details {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 15px;
    display: flex;
    position: relative;
    padding: 20px;
    border: 8px solid #e73a3a;
    max-width: 900px;
    margin: 40px auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #9e1717;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

@keyframes animation {
    0% {
        border-color: #FF3B3F; /* AMD red */
        background-color: #FFE6E6; /* Light red */
        box-shadow: 0 0 10px #FF3B3F;
    }
    50% {
        border-color: #CC0000; /* Darker AMD red */
        background-color: #FFCCCC; /* Softer red */
        box-shadow: 0 0 20px #CC0000;
    }
    100% {
        border-color: #FF3B3F; /* AMD red */
        background-color: #FFE6E6; /* Light red */
        box-shadow: 0 0 10px #FF3B3F;
    }
}

.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 5px solid #e73a3a; 
    border-radius: 15px; 
    background-color: #f0f8ff;
    animation: animation 3s infinite;
}

.product-image img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.product-info {
    flex: 1;
    padding: 20px;
}

.brand-logo {
    margin-bottom: 100px;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-top: 80px;
}

.brand-logo img {
    width: 150%;
    height: auto;
}

.specifications {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.specifications li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 15px;
    line-height: 1.4;
}

.specifications li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #000;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        max-width: 98vw;
    }
    .product-image, .product-info {
        width: 100%;
        padding: 10px;
    }
    .brand-logo {
        width: 140px;
        height: 40px;
        margin-left: 0;
    }
}